<!--<textarea type="text"   id="inpListing" rows="9" placeholder="You can paste, Write or-->
<!--Dictate items.-->
<!--Separate them with commas (,)-->
<!--Use the first item as a list header.-->
<!--EXAMPLE:-->
<!--my list, buy milk, plant a tree, build a house" [(ngModel)]='listingArea' (blur)="blur(listingArea)" (ngModelChange)="listingAreaChanged($event, '')">{{listingArea}}</textarea>-->

<textarea id="inpListing" rows="9" placeholder="You can paste, Write or
Dictate items.
Separate them with commas (,)
Use the first item as a list header.
EXAMPLE:
my list, buy milk, plant a tree, build a house" [(ngModel)]='listingArea' (blur)="blur(listingArea)" (ngModelChange)="listingAreaChanged($event, '')">{{listingArea}}</textarea>


