  <h6 class="header">{{ title }}</h6>
<div class="menu">
  <button *ngIf="activeScreen == 'inp'" class="screenBtn active" (click)="onClickScreenBtn('inp')">Input</button>
  <button *ngIf="activeScreen != 'inp'" class="screenBtn" (click)="onClickScreenBtn('inp')">Input</button>

  <button *ngIf="activeScreen == 'old'" class="screenBtn active" (click)="onClickScreenBtn('old')">Old</button>
  <button *ngIf="activeScreen != 'old'" class="screenBtn" (click)="onClickScreenBtn('old')">Old</button>
  <button *ngIf="activeScreen == 'help'" class="screenBtn active" (click)="onClickScreenBtn('help')">Help</button>
  <button *ngIf="activeScreen != 'help'" class="screenBtn" (click)="onClickScreenBtn('help')">Help</button>
</div>

  <app-inp-comp [(listingArea)]="listing" (onlistingAreaChanged)="onlistingAreaChanged($event)" *ngIf="activeScreen == 'inp'"></app-inp-comp>
  <button class="clearBtn"  *ngIf="activeScreen == 'inp'" (click)="clearList()">Clear</button>
  <app-shop-comp [(shopData)]="shopData" (ColorBtnClicked)="ColorBtnClicked($event)" *ngIf="(activeScreen == 'shop') || (activeScreen == 'inp')"></app-shop-comp>
  <app-old-comp [(oldData)]="oldData" (OldClicked)="OldClicked($event)" *ngIf="activeScreen == 'old'"></app-old-comp>
  <app-help-comp *ngIf="activeScreen == 'help'"></app-help-comp>
<!--<app-adv-comp *ngIf="activeAdv == 'slp'"></app-adv-comp>-->
  <app-visited-counter [counter]="counter"></app-visited-counter>

